@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

* {
  scroll-behavior: smooth;
}

.home {
  position: relative;
  background-image: url("/images/home-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.home::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0000005D;
  z-index: -1;
}

div::-webkit-scrollbar {
  display: none;
}
div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #FF7054;
  --color-secondary: #9F9191;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (min-width: 1024px) {
  .contacts-slider .swiper-wrapper {
    display: contents !important;
  }
}

